body{
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 100vh;
}

.chessboard{
    width:80vw;
    height: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 12.5%;
    height: 12.5%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}
.white{
    background-color: rgb(225, 251, 255);
}

.black{
    background-color: rgb(42, 84, 123);
}
.coordinate{
    height: auto;
    display: flex;
    bottom: 4%;
    left: 4%;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rank{
    top:4%;
    right: 4%;
    left: auto;
}
.white{
    color:rgb(46, 49, 26);
}
.black{
    color:rgb(255, 255, 255)
}
@media(min-width:600px){
    .chessboard{
        width: 600px;
        height: 600px;
    }
}

@media(min-width:600px){
    .coordinate{
        font-size: 8px;
    }
}